<h1>Help</h1>
<p>Under construction. Stop complaining you whiny bitch.</p>
<br>
<p><p><b><font size="20"><font color="red">Like this beautiful dude:</font></font></p>
<img src=http://d13pix9kaak6wt.cloudfront.net/avatar/users/c/c/o/cconanan_1413936131_93.jpg alt="Mountain View" style="width:304px;height:468px">
